<%= t('.header', title: @user_test.test.title) %> завершен
<%= @user_test.correct_questions %> правильных ответов.
<p> 
<% if @user_test.passed? %>
Вы прошли тест!!!
ваш процент успеха </p>
<p style="color:green"><%= @user_test.success_rate %></p>
<% else %>
Вы не прошли тест!!!
ваш процент успеха
<p style="color:red"><%= @user_test.success_rate %></p>
<% end %> 
</p>
