<h2>Gists</h2>
<table class="table">
  <tr>
    <th><%= t('gists.index.question') %></th>
    <th><%= t('gists.index.user') %></th>
    <th><%= t('gists.index.url') %></th>
  </tr>
  <%= render @gists %>
</table>
