<% if resource.present? && resource.errors.any? %>
  <%= contant_tag :div, class: 'resourse-errors', data: { resourse_id: resourse.id } do %>
    <h2> <%= pluralize(resource.errors.count, 'error') %> detected: </h2>
    <%= t('.header', count: resource.errors.count) %>
    <ul>
      <% resource.errors.full_messages.each do |message|  %>
      <li><%= message %></li>
    </ul>
    <% end %>
  <% end %>
<% end %>
