<h5>Автор: Андреев Сергей </h5
<%= link_to 'TestGuru', 'https://github.com/Ch0k/test-guru'%> <br>
<p> Проект для тестирования</p>
<%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/' %>
<br>
<%= github_url('Ch0k', 'test-guru') %>
<%= year_now %>
