<div style="height:20px">
  <div style="position: fixed; ">
    <%= link_to 'Test Guru', root_path%>
    <%= link_to 'Tests', tests_path %>
  </div>
  <% if user_signed_in? %>
    <p class="nav user">
      Welcome <b><%= current_user.email %></b> Guru |
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </p>
  <% end %>
</div>
